[Desktop Entry]
Version=1.0
Type=Application
Name=ID3EncodingConverter
Comment=Simple ID3 tag viewer with support for conversion of different character sets
Comment[de]=Einfacher Editor für ID3-Tags zur Konvertierung zwischen verschiedenen Zeichenkodierungen
GenericName=Audio File Tag Viewer/Editor
GenericName[de]=Editor für Audio-Tags
TryExec=id3encodingconverter
Exec=id3encodingconverter %F
Icon=character-set
MimeType=audio/x-mp3;audio/x-mpegurl;application/ogg;audio/x-flac;audio/x-flac+ogg;audio/x-vorbis+ogg;audio/x-speex+ogg;audio/x-oggflac;audio/x-aac;audio/x-mp4;audio/x-m4a;audio/x-speex;audio/x-tta;
Categories=AudioVideo;KDE;
