include id3encodingconverterui.rc
include ID3EncodingConverterGuessingSetup.ui
include ID3EncodingConverter.ui
include TODO
include DEVELOPMENT
include id3encodingconverter.desktop
include data/*
include po/*
include mo/*
include *.png